body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #25F4EE, #FE2C55);
    /* background: linear-gradient(45deg, #1877F2, #3b5998); */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* font-family: 'Courier New', Courier, monospace; */
    /* gap: 1.6rem;
    top:4rem; */
    position: relative;
    text-decoration: none;
    list-style: none;
}
.css-button-neumorphic {
    background:  linear-gradient(45deg, #25F4EE, #FE2C55);
}